@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500');
@import url('https://fonts.googleapis.com/css?family=Lora:400,700');

#search-page {
  height: 100vh;
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.7)
    ),
    url(http://www.publicdomainpictures.net/pictures/30000/velka/film-background-1334067869u9d.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  position: relative;
}

.title-style {
  font-family: 'Lora', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  color: rgba(205, 208, 211, 1);
}

.text-style {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  color: rgba(205, 208, 211, 1);
}

#title-header {
  padding-top: 15%;
}

#movie-search {
  margin-left: 37%;
}

#search-bar {
  margin-top: 13%;
}

#search-input {
  border: 2px;
}

#search-button {
  color: rgba(7, 35, 70, 1);
  background-color: rgba(205, 208, 211, 1);
}

#live-stream {
  margin-top: 5%;
}

#card-head {
  text-align: center;
}

#twitter-stream {
  height: 85vh;
  overflow: auto;
}

#tweet-image {
  border-radius: 50%;
}

#stream-page {
  height: 100vh;
  background-color: rgba(0, 13, 28, 1);
  background-size: cover;
}

#top-movies-page {
  height: 50vh;
  background-color: #2c3e50;
  background-size: cover;
  color: #bdc3c7;
}

#top-movies > h1 {
  margin-top: 15%;
  margin-bottom: 20px;
  color: #ecf0f1;
}

.positive {
  color: rgba(37, 111, 91, 1);
}

.negative {
  color: rgba(168, 56, 59, 1);
}

.neutral {
  color: rgba(204, 204, 0, 1);
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid rgba(104, 126, 153, 1);
  border-bottom: 16px solid rgba(104, 126, 153, 1);
  width: 120px;
  height: 120px;
  margin-left: 34%;
  margin-top: 10%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#chart-container {
  margin-top: 5%;
  margin-left: 20%;
  height: 60vh;
  overflow: auto;
}

#chart-header {
  text-align: center;
}

#chart-stream {
  margin-top: -6vh;
  margin-left: 9vh;
}

#popular-opinion {
  margin-top: 3%;
  margin-left: 20%;
  display: inline-block;
  background-color: #f7f7f7;
  border-radius: 5px;
}

#popular-opinion h3 {
  display: inline-block;
  padding: 10px 0 10px 10px;
  margin: 0;
  width: 220px;
  color: #4d4d4d;
  font-size: 24px;
  border-right: 1px solid #1a252f;
  border-radius: 5px 0 0 5px;
  background-color: #d5d5d5;
}

#popular-opinion div {
  display: inline-block;
  margin-bottom: 0;
  padding: 0 10px;
  color: #666;
}
